<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>网易考拉海淘-购物车</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/goodShopCart.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'demo/dialog.css' %}" media="screen" title="no title">
    <link rel="Shortcut Icon" href=favicon.ico>
</head>
<body>
SyntaxError: expected expression, got '<'[详细了解] goodShopCart.js:1

<nav class="hd-NavTop">
    <div class="hd-NavTopL1">
        考拉欢迎你！
        {% if user %}
            <a href="#">{{ user.name }}</a>
            <span>|</span>
            <a href="{% url 'kaola:logout' %}">退出</a>
            <span>|</span>
            <a href={% url 'kaola:register' %}>免费注册</a>
        {% else %}
            <a href="{% url 'kaola:signin' %}">登录</a>
            <span>|</span>
            <a href={% url 'kaola:register' %}>免费注册</a>

        {% endif %}
    </div>
    <div class="hd-NavTopL2">
        <a href="{% url 'kaola:index' %}">
            <i></i>手机考拉海淘
            <span>
          <img src="{% static 'img/2dcode-app3.jpg' %}" title="APP QR Code" width="116px" height="116px">
          <strong>下载APP<br>领1000元新人礼包</strong>
          <span class="arrowToTop1"></span>
          <span class="arrowToTop2"></span>
        </span>
        </a>
    </div>
    <ul class="hd-NavTopR1">
        <li><a href=""><i class="icon icon-flag"></i>每日签到</a><span>|</span></li>
        <li><a href="{% url 'kaola:orderlist' %}">我的订单</a><span>|</span></li>
        <li class="have-list">
            <a href="">个人中心<i class="small-arrow"></i></a>
            <span>|</span>
            <div>
                <a href="#">我的优惠券</a>
                <a href="#">我的考拉豆</a>
                <a href="#">账户安全</a>
                <a href="#">我的实名认证</a>
                <a href="#">我收藏的商品</a>
                <a href="#">我关注的商品</a>
                <a href="#">售后管理</a>
            </div>
        </li>
        <li class="have-list">
            <a href="">客户服务<i class="small-arrow"></i></a>
            <span>|</span>
            <div class="">
                <a href="#"><i></i>联系客服</a>
                <a href="#"><i></i>帮助中心</a>
            </div>
        </li>
        <li><a href=""><i class="icon icon-money"></i>游戏充值</a><span>|</span></li>
        <li><a href="">消费者告知书</a><span>|</span></li>
        <li class="have-list">
            <a href="">更多<i class="small-arrow"></i></a>
            <div>
                <a href="#">收藏本站</a>
                <a href="#">新浪微博</a>
                <a href="#">微信公众号</a>
                <a href="#">易信公众号</a>
                <a href="#">招商合作</a>
                <a href="#">考拉招聘</a>
            </div>
        </li>
    </ul>
</nav>
<div class="hd-NavBg"></div>
<header class="hd-index" style="padding: 20px 0 ;">
    <div class="hd-index-wrap clearfix">
        <div class="hd-kaolaLogo"><img src="{% static 'img/kaolaLogo.png' %}" alt="网易考拉海淘"></div>
        <div class="hd-step">
            <div class="step-img"></div>
            <ul class="step-txt">
                <li>我的购物车</li>
                <li>提交订单</li>
                <li>选择支付方式</li>
            </ul>
        </div>
    </div>
</header>
<div class="m-cart">
    <div class="m-cart-wrap">
        {% if not carts %}
            <div class="cart-empty">
                <img src="{% static 'img/cartIcon.jpg' %}" alt="">
                <div class="empty-txt">
                    <span>购物车空空如也，赶紧去<a href="http://localhost:3000/src/index.html">逛逛吧</a></span>
                    <span>或者您可以先进行<a href="http://localhost:3000/src/signin.html">登录</a></span>
                </div>
            </div>
        {% endif %}
        <div class="cart-exist" style="">
            <div class="mycartBox">
                <div class="mycart-short-info">
                    <div class="mycart-btn-allselect">
                        <span>全选</span>
                    </div>
                    <div class="mycart-goods-info">商品信息</div>
                    <div class="mycart-goods-unit-price ">单价（元）</div>
                    <div class="mycart-goods-num centerX">数量</div>
                    <div class="mycart-goods-cost centerX">金额（元）</div>
                    <div class="mycart-goods-behavior">操作</div>
                </div>
                <div class="mycart">
                    <div class="location-send">
                        <input type="checkbox" class="new-checkbox" id="this-location-1">
                        <label for="this-location-1"><h2>XX保税仓发货</h2></label>
                    </div>
                    <div class="goods">
                        <div class="show-goods">
                            <div class="current-active">
                                <div class="active-pic notice-keyword centerX" id="nowActiveName">XXX活动</div>
                                <div class="active-des">
                                    <p>再购<span class="notice-keyword active-goods-num">X</span>件立享【<span
                                            class="active-name">活动名</span>】</p>
                                    <a href="http://localhost:3000/src/index.html">去凑单&gt;</a>
                                </div>
                            </div>
                            <ul class="your-cart-goods">
                                {% for cart in carts %}
                                    <li class="goods-item">
                                        <div class="col col1">
                                            {% if cart.isselect %}
                                                <input type="checkbox" name="name" value="" class="new-checkbox ok" cartid="{{ cart.id }}" checked="checked" >
                                            {% else %}
                                               <input type="checkbox" name="name" value="" class="new-checkbox  no" cartid="{{ cart.id }}"  >
                                            {% endif %}
                                        </div>
                                        <div class="col col2">
                                            <img src="{% static cart.goods.middle_src %}" alt="">
                                            <div class="current-goods-info">
                                                <div class="current-goods-name">{{ cart.goods.name }}</div>
                                                <div class="current-goods-type"></div>
                                                <div class="current-goods-tax"></div>
                                            </div>
                                        </div>
                                        <div class="col col3">
                                            <p class="old-price">￥{{ cart.goods.orig_price }}</p>
                                            <p class="new-price"  price="{{ cart.goods.discount_price }}">￥{{ cart.goods.discount_price }}</p>
                                        </div>
                                        <div class="col col4">
                                            <button class="reduce-goods-num" goodsid="{{ cart.goods.id }}">-</button>
                                            <input type="text" class="this-goods-num" value={{ cart.number }}>
                                            <button class="increase-goods-num" goodsid="{{ cart.goods.id }}">+</button>
                                        </div>
                                        <div class="col col5">
                                            <p class="current-goods-total-price"></p>
                                        </div>
                                        <div class="col col6">
                                            <p class="delete-this" id="deleteThisLi">删除</p>
                                            <p class="collect-this">移入我的收藏</p>
                                        </div>
                                        <div class="vine-line"></div>
                                    </li>

                                {% endfor %}

                            </ul>
                            <div class="tax-rule">
                                <div class="tax-content">
                                    <div class="content-wrap">
                                        <p class="compute-rule notice-keyword">
                                            税费 = 购买单价 * 件数 * 税率
                                        </p>
                                        <p class="tax-info">
                                            据国家政策规定，本品适用于跨境综合税：11.9%
                                            实际结算税费请以提交订单时的税费明细为准
                                        </p>
                                    </div>
                                </div>
                                <div class="tax-triangle"></div>
                            </div>
                        </div>
                        <div class="cartinfo"></div>
                    </div>
                </div>
                <div class="totalbox">
                    <div class="totalLeft">
                        <input type="checkbox" name="name" value="" id="btn-all" isall="{{ isall }}">
                        <span style="margin-left:5px;margin-right:10px">全选</span>
                        <div class="btn-deleteSelect">
                            <a href="javascript:" id="btn-total-deleteSelect">删除选中商品</a>
                        </div>
                    </div>
                    <div class="totalRight">
                        <div class="total-right-txt">
                            <p>已选商品 <span class="selected-goods-num notice-keyword">0</span> 件
                                总价(不含运费)：<span class="currency notice-keyword">￥</span><span
                                        class="total-goods-money notice-keyword">9999</span></p>
                            <p>活动优惠：-￥<span class="total-goods-saved">0.00</span>
                                商品应付总计：￥<span class="total-goods-cost">9999</span>
                                商品税费：￥<span class="total-goods-tax">0.00</span></p>
                        </div>
                        <button class="btn-pay" id="btn-total-pay" style="background: red">去结算</button>
                    </div>
                </div>
            </div>
            <div class="guess">
                <div class="guess-wrap">
                    <div class="guess-tit currentPage-goods-tit">
                        <h2>猜你喜欢</h2>
                        <span>根据你的浏览记录推荐的商品</span>
                    </div>
                    <ul class="guess-goods ul-flex">
                        <li>
                            <figure>
                                <img src="{% static 'img/onlineic709q9810309.jpg' %}" alt="" width="204px"
                                     height="204px">
                                <figcaption>
                                    <p class="goods-info text-hide">
                                        <span class="goods-standard notice-keyword">X件装</span>
                                        <span>|</span>
                                        <span class="goods-name">商品名称商品名称商品名称商品名称商品名称商品名称</span></p>
                                    <p class="notice-keyword">立省<span class="saved-money">XXX</span>元</p>
                                    <p class="goods-price">
                                        <span class="current-price notice-keyword">￥208元</span>
                                        <span class="orig-price">￥308元</span>
                                    </p>
                                    <p class="comment"><span>XXX</span>人已评论</p>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{% static '' %}" alt="">
                                <figcaption></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{% static '' %}" alt="">
                                <figcaption></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{% static '' %}" alt="">
                                <figcaption></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{% static '' %}" alt="">
                                <figcaption></figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="allbuy">
                <div class="allbuy-wrap">
                    <div class="allbuy-tit currentPage-goods-tit">
                        <h2>大家都在买</h2>
                        <span>全网最热门的商品推荐</span>
                    </div>
                    <ul class="allbuy-goods ul-flex">
                        <li>
                            <figure>
                                <img src="{% static 'img/onlinei8bp70f410066(1).jpg' %}" alt="" width="204px"
                                     height="204px">
                                <figcaption>
                                    <p class="allbuy-goods-info">
                                        <span class="allbuy-goods-name">商品名称商品名称商品名称商品名称商品名称商品名称</span></p>
                                    <p class="notice-keyword" style="display:none">立省<span
                                            class="saved-money">XXX</span>元</p>
                                    <p class="allbuy-goods-price">
                                        <span class="current-price notice-keyword">￥208元</span>
                                        <span class="orig-price">￥308元</span>
                                    </p>
                                    <p class="comment"><span>XXX</span>人已评论</p>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{% static '' %}" alt="">
                                <figcaption></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{% static '' %}" alt="">
                                <figcaption></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{% static '' %}" alt="">
                                <figcaption></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{% static '' %}" alt="">
                                <figcaption></figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="ft-Wrap">
    <div class="ft-aboutNE">
        <div class="aboutinfo1">
            <a href="#">About NetEase</a>-
            <a href="#">公司简介</a>-
            <a href="#">联系方法</a>-
            <a href="#">友情链接</a>-
            <a href="#">招聘信息</a>-
            <a href="#">客户服务</a>-
            <a href="#">隐私政策</a>-
            <a href="#">网络营销</a>-
            <a href="#">网站地图</a>-
            <a href="#">网易考拉海购</a>
        </div>
        <div class="aboutinfo2">
            <i><img src="{% static 'img/f28aa8ee818a42bf832341f605eccefb.png' %}" alt="Police sysmbol of China"></i>
            <a href="#">浙公网安备 33010002000066号</a>
            <span>增值电信业务经营许可证 ：浙B2-20090185-3</span>
            <span>网络文化经营许可证 ：浙网文[2016]0155-055号</span>
            <span>网易公司版权所有<em>©</em>1997-2016</span>
        </div>
        <div class="aboutinfo3">
            <img src="{% static 'img/d720d83b55a04b6f932ea845c673c5bf.png' %}" alt="Trusted website in China">
            <img src="{% static 'img/db9ba5060e9e49fabf3f6cc4b8b6ccf7.jpg' %}"
                 alt="National Emblem of the People's Republic of China">
        </div>
    </div>
</footer>
<script src="/static/js/vendor/jquery-3.1.0.min.js" charset="utf-8"></script>
<script src="/static/js/vendor/jquery.cookie.js" charset="utf-8"></script>
<script src="{% static 'js/cart.js' %}"></script>
</body>
</html>
