@charset "UTF-8";
html {
  font-size: 125%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", 微软雅黑, tahoma, simsun, 宋体;
  font-size: .6rem;
  color: #666;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "fontawesome";
  font-weight: normal;
  font-style: normal;
  src: url("../css/fonts/font-awesome/fontawesome.eot");
  src: url("../css/fonts/font-awesome/fontawesome.eot?#iefix") format("embedded-opentype"), url("../css/fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../css/fonts/font-awesome/fontawesome.ttf") format("truetype"), url("../css/fonts/font-awesome/fontawesome.svg#fontawesome") format("svg"); }

i[class^=icon] {
  vertical-align: middle;
  padding-right: 2px; }
  i[class^=icon]:before {
    font-family: "fontawesome" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased; }
  i[class^=icon]:hover {
    text-decoration: none; }

.icon-mobile:before {
  content: "";
  color: #e31436;
  font-size: 16px; }

.icon-flag:before {
  content: "";
  color: #e31436;
  font-size: 14px; }

.icon-money:before {
  content: "";
  color: #e31436;
  font-size: 13px; }

.icon-flag-aside:before {
  content: "";
  font-size: 20px;
  color: #999; }

.icon-mobile-aside:before {
  content: "";
  font-size: 30px;
  color: #999; }

.icon-shopcart-aside:before {
  content: "";
  font-size: 20px;
  color: #999; }

.icon-shopCart-btn:before {
  content: "";
  font-size: 16px;
  color: #999; }

.icon-angle-left:before {
  content: "";
  font-size: 50px;
  color: #fff; }

.icon-angle-right:before {
  content: "";
  font-size: 50px;
  color: #fff; }

.icon-github:before {
  content: "";
  font-size: 40px;
  color: #333; }

.icon-weibo:before {
  content: "";
  font-size: 40px;
  color: #e31436; }

.icon-heart-o:before {
  content: "";
  font-size: 20px;
  color: #D22147; }
  .icon-heart-o:before:hover {
    text-decoration: none; }

.icon-heart:before {
  content: "";
  font-size: 20px;
  color: #d22147; }

.icon-star:before {
  content: "";
  font-size: 11px;
  color: #d22147;
  margin-left: 1px;
  line-height: 19px; }

.icon-search-plus:before {
  content: "";
  font-size: 20px;
  color: #999; }

.icon-edge:before {
  content: "";
  font-size: 20px;
  color: #fff;
  opacity: .9; }

.icon-chrome:before {
  content: "";
  font-size: 20px;
  color: #fff;
  opacity: .9; }

.icon-firfox:before {
  content: "";
  font-size: 20px;
  color: #fff;
  opacity: .9; }

.icon-html5:before {
  content: "";
  font-size: 20px;
  color: #fff;
  opacity: .9; }

.icon-css3:before {
  content: "";
  font-size: 20px;
  color: #fff;
  opacity: .9; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: #e31436; }

ul {
  list-style: none; }

dd {
  margin: 0; }

em {
  font-weight: bold;
  font-style: normal; }

/*=========================清除浮动================================*/
.clearfix:after {
  display: block;
  clear: both;
  content: '.';
  height: 0;
  overflow: hidden; }

.test-class {
  font-size: 24px;
  color: #333; }
  .test-class:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #e31436; }

.cart-goods-num {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e31436;
  font-weight: normal;
  font-size: 12px;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 5;
  font-style: normal;
  color: #fff;
  text-align: center;
  line-height: 24px; }

h2 {
  margin-bottom: 0;
  margin-right: .5rem;
  display: inline-block; }
  h2 + span {
    vertical-align: bottom; }

ul {
  padding-left: 0; }

figure {
  margin: 0; }

.hd-index {
  width: 100%; }
  .hd-index .hd-index-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .hd-index .hd-index-wrap .hd-kaolaLogo {
      flex: 2; }
    .hd-index .hd-index-wrap .hd-step {
      flex: 1;
      text-align: center; }
      .hd-index .hd-index-wrap .hd-step .step-img {
        background: url(../img/steps.png) no-repeat center top;
        display: inline-block;
        height: 12px;
        width: 400px; }
      .hd-index .hd-index-wrap .hd-step .step-txt {
        display: flex;
        padding: 0;
        margin: .5rem auto 0;
        width: 400px; }
        .hd-index .hd-index-wrap .hd-step .step-txt li {
          flex: 1; }

.m-cart .m-cart-wrap .cart-empty {
  padding: 7.5rem 0 6rem 0;
  text-align: center;
  height: 7.5rem; }
  .m-cart .m-cart-wrap .cart-empty .empty-txt {
    vertical-align: top;
    display: inline-block;
    text-align-last: left; }
    .m-cart .m-cart-wrap .cart-empty .empty-txt span:first-child {
      display: block; }
    .m-cart .m-cart-wrap .cart-empty .empty-txt span {
      font-size: .8rem; }
      .m-cart .m-cart-wrap .cart-empty .empty-txt span a {
        color: #e31436; }
        .m-cart .m-cart-wrap .cart-empty .empty-txt span a:hover {
          text-decoration: underline; }

.m-cart .m-cart-wrap .cart-exist .guess {
  width: 100%; }

/*当存在商品时的购物车主界面*/
.cart-exist .mycartBox .mycart .location-send > input {
  vertical-align: bottom; }

.goods .show-goods .current-active {
  position: relative;
  padding: .5rem 0; }
  .goods .show-goods .current-active .active-pic {
    position: absolute;
    left: -1px;
    background: url(../img/manjianIcons.png) no-repeat -10px -10px;
    width: 68px;
    height: 30px;
    line-height: 30px;
    font-size: .7rem; }
  .goods .show-goods .current-active .active-des {
    height: 1.5rem;
    padding-left: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start; }
    .goods .show-goods .current-active .active-des > p {
      color: #999;
      font-size: .7rem; }
    .goods .show-goods .current-active .active-des > a {
      color: #51bbf1;
      font-size: .7rem; }
      .goods .show-goods .current-active .active-des > a:hover {
        color: #51bbf1;
        cursor: pointer;
        text-decoration: underline; }

.goods .show-goods .your-cart-goods {
  display: flex;
  flex-direction: column; }
  .goods .show-goods .your-cart-goods .goods-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 1rem 0; }
    .goods .show-goods .your-cart-goods .goods-item > div:not(:nth-of-type(2)) {
      flex: 2; }
    .goods .show-goods .your-cart-goods .goods-item > div:nth-of-type(2) {
      flex: 7; }
    .goods .show-goods .your-cart-goods .goods-item > div:nth-of-type(1) {
      flex: 1; }

.col3, .col6 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.col1 {
  display: flex;
  align-items: center; }
  .col1 > input {
    position: relative;
    z-index: 2; }

.col2 {
  display: flex;
  flex-direction: row; }
  .col2 img {
    width: 3.4rem;
    height: 3.4rem; }
  .col2 > div {
    flex: 1;
    display: flex;
    margin-left: 1rem;
    flex-direction: column; }
    .col2 > div > div:first-child {
      font-size: .7rem;
      flex: 2;
      color: #333; }
      .col2 > div > div:first-child:hover {
        color: #e31436;
        cursor: pointer; }
    .col2 > div > div {
      width: 80%; }

.col4 > button, .col4 > input {
  float: left; }

.col4 > button {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #bcbcbc;
  color: #333;
  text-align: center;
  background-color: #fff;
  outline: none; }
  .col4 > button:hover {
    cursor: pointer;
    color: #e31436; }

.col4 > input {
  text-align: center;
  width: 43px;
  height: 20px;
  border: 1px solid #bcbcbc;
  border-left-width: 0;
  border-right-width: 0;
  outline: none;
  padding: 0; }
  .col4 > input:focus {
    outline: none; }

.col4, .col5 {
  display: flex;
  justify-content: center;
  align-items: center; }

.col6 > p {
  color: #333;
  margin: 0; }
  .col6 > p:hover {
    cursor: pointer;
    color: currentColor;
    text-decoration: underline; }

.vine-line {
  position: absolute;
  border-left: 1px dashed #ccc;
  z-index: 1;
  height: 108px;
  left: 11px;
  top: 0;
  display: none; }

.active-item {
  background: #FFFBF0; }

.centerX {
  text-align: center;
  justify-content: center; }

.new-checkbox {
  display: inline-block;
  width: 17px;
  height: 18px;
  background: url(../img/checkboxIcons.png) no-repeat 0 -24px;
  outline: none; }

.cart-exist {
  width: 100%; }
  .cart-exist .mycartBox {
    width: 1090px;
    margin: 0 auto;
    margin-bottom: 3.5rem; }
    .cart-exist .mycartBox .mycart-short-info {
      display: flex;
      margin-bottom: 1rem; }
      .cart-exist .mycartBox .mycart-short-info > div {
        color: #999;
        display: flex;
        align-items: center; }
      .cart-exist .mycartBox .mycart-short-info > div:not(:nth-of-type(2)) {
        flex: 1; }
      .cart-exist .mycartBox .mycart-short-info > div:nth-of-type(2) {
        flex: 3; }
      .cart-exist .mycartBox .mycart-short-info .mycart-btn-allselect label {
        vertical-align: top;
        color: #333; }
    .cart-exist .mycartBox .mycart .goods {
      border: 1px solid #efefef;
      margin: 1rem 0 4rem 0; }
    .cart-exist .mycartBox .totalbox {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.btn-selectall {
  display: flex;
  justify-content: center;
  align-items: center; }

.totalbox {
  border: 1px solid #ddd;
  background-color: #f8f8f8; }
  .totalbox .totalLeft {
    display: flex;
    justify-content: center;
    align-items: center; }
    .totalbox .totalLeft > div {
      margin-right: 1rem; }
    .totalbox .totalLeft div > label, .totalbox .totalLeft div > a {
      vertical-align: top; }
  .totalbox .totalRight {
    display: flex; }
    .totalbox .totalRight .total-right-txt {
      box-sizing: border-box;
      padding: .5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: .5rem; }
      .totalbox .totalRight .total-right-txt > p:first-child {
        text-align: right;
        font-size: .7rem; }
        .totalbox .totalRight .total-right-txt > p:first-child span {
          font-size: .9rem;
          font-weight: bold; }
      .totalbox .totalRight .total-right-txt > p:last-child {
        color: #999; }
      .totalbox .totalRight .total-right-txt > p {
        margin: 0; }
    .totalbox .totalRight .btn-pay {
      border: none;
      outline: none;
      width: 120px;
      height: 61px;
      background-color: #ccc;
      font-size: .9rem;
      color: #fff;
      font-family: '微软雅黑'; }

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-bottom: .25rem; }

.new-price {
  color: #333;
  font-weight: bold;
  font-size: .7rem;
  margin-top: 0; }

.tax-rule {
  position: absolute;
  z-index: 5;
  background: #fff;
  display: none; }
  .tax-rule .tax-content {
    box-sizing: border-box;
    padding: 12px;
    width: 300px;
    box-shadow: 0 1px 2px 1px #ddd;
    border: 1px solid #ccc;
    position: relative; }
  .tax-rule .tax-triangle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 2px #ddd;
    transform: translate(-50%, -50%) rotate(45deg); }
    .tax-rule .tax-triangle:after {
      position: absolute;
      top: 0;
      left: 10px;
      content: '';
      width: 20px;
      height: 20px;
      background-color: #fff;
      transform: translate(-50%, 0); }

.cart-exist > div:not(:first-child) {
  margin-bottom: 1rem; }
  .cart-exist > div:not(:first-child) > div {
    width: 85.15625%;
    margin: 0 auto; }

.cart-exist > div:last-child {
  margin-bottom: 5rem; }

.currentPage-goods-tit {
  width: 100%; }

figure {
  border: 1px solid #e2e2e2;
  width: 204px; }
  figure > img {
    display: inline-block;
    width: 204px;
    height: 204px; }
  figure > figcaption {
    width: 204px; }
    figure > figcaption > .text-hide {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    figure > figcaption > p {
      padding: 0 15px; }

.ul-flex {
  display: flex; }
  .ul-flex > li {
    flex: 1; }

.goods-info {
  margin-bottom: .3rem; }
  .goods-info + p {
    margin-top: .3rem; }

.goods-price {
  margin: 0; }
  .goods-price + p {
    margin: 0 0 15px 0; }

.notice-keyword {
  color: #e31436; }

.current-price {
  font-size: .8rem;
  font-weight: bold; }
  .current-price + span {
    vertical-align: bottom;
    text-decoration: line-through;
    color: #999;
    font-size: .6rem; }

.allbuy-goods-info {
  display: inline-block;
  width: 175px; }

/* footer */
.ft-Wrap {
  height: 127px; }
