@charset "UTF-8";
html {
  font-size: 125%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", 微软雅黑, tahoma, simsun, 宋体;
  font-size: .6rem;
  color: #666;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "fontawesome";
  font-weight: normal;
  font-style: normal;
  src: url("../css/fonts/font-awesome/fontawesome.eot");
  src: url("../css/fonts/font-awesome/fontawesome.eot?#iefix") format("embedded-opentype"), url("../css/fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../css/fonts/font-awesome/fontawesome.ttf") format("truetype"), url("../css/fonts/font-awesome/fontawesome.svg#fontawesome") format("svg"); }
i[class^=icon] {
  vertical-align: middle;
  padding-right: 2px; }
  i[class^=icon]:before {
    font-family: "fontawesome" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased; }
  i[class^=icon]:hover {
    text-decoration: none; }

.icon-mobile:before {
  content: "";
  color: #e31436;
  font-size: 16px; }

.icon-flag:before {
  content: "";
  color: #e31436;
  font-size: 14px; }

.icon-money:before {
  content: "";
  color: #e31436;
  font-size: 13px; }

.icon-flag-aside:before {
  content: "";
  font-size: 20px;
  color: #999; }

.icon-mobile-aside:before {
  content: "";
  font-size: 30px;
  color: #999; }

.icon-shopcart-aside:before {
  content: "";
  font-size: 20px;
  color: #999; }

.icon-shopCart-btn:before {
  content: "";
  font-size: 16px;
  color: #999; }

.icon-angle-left:before {
  content: "";
  font-size: 50px;
  color: #fff; }

.icon-angle-right:before {
  content: "";
  font-size: 50px;
  color: #fff; }

.icon-github:before {
  content: "";
  font-size: 40px;
  color: #333; }

.icon-weibo:before {
  content: "";
  font-size: 40px;
  color: #e31436; }

.icon-heart-o:before {
  content: "";
  font-size: 20px;
  color: #D22147; }
  .icon-heart-o:before:hover {
    text-decoration: none; }

.icon-heart:before {
  content: "";
  font-size: 20px;
  color: #d22147; }

.icon-star:before {
  content: "";
  font-size: 11px;
  color: #d22147;
  margin-left: 1px;
  line-height: 19px; }

.icon-search-plus:before {
  content: "";
  font-size: 20px;
  color: #999; }

.icon-edge:before {
  content: "";
  font-size: 20px;
  color: #fff;
  opacity: .9; }

.icon-chrome:before {
  content: "";
  font-size: 20px;
  color: #fff;
  opacity: .9; }

.icon-firfox:before {
  content: "";
  font-size: 20px;
  color: #fff;
  opacity: .9; }

.icon-html5:before {
  content: "";
  font-size: 20px;
  color: #fff;
  opacity: .9; }

.icon-css3:before {
  content: "";
  font-size: 20px;
  color: #fff;
  opacity: .9; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: #e31436; }

ul {
  list-style: none; }

dd {
  margin: 0; }

em {
  font-weight: bold;
  font-style: normal; }

/*=========================清除浮动================================*/
.clearfix:after {
  display: block;
  clear: both;
  content: '.';
  height: 0;
  overflow: hidden; }

.test-class {
  font-size: 24px;
  color: #333; }
  .test-class:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #e31436; }

.cart-goods-num {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e31436;
  font-weight: normal;
  font-size: 12px;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 5;
  font-style: normal;
  color: #fff;
  text-align: center;
  line-height: 24px; }

body {
  background-color: #efefef;
  font-family: "Microsoft YaHei", 微软雅黑, 宋体, helvetica, "Hiragino Sans GB"; }

input:focus {
  border: 1px solid #e2e2e2; }

.errorBorder {
  border: 1px solid #e31436; }

.hd-logoBox {
  width: 100%;
  height: 6.5rem; }
  .hd-logoBox .hd-wrap {
    width: 50rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    text-align-last: right;
    justify-content: space-between; }
    .hd-logoBox .hd-wrap .logo {
      background: url(../img/sprite3.png) no-repeat -47px -20px;
      width: 180px;
      height: 50px; }
    .hd-logoBox .hd-wrap .toSign {
      font-size: .9rem;
      color: #666666; }
      .hd-logoBox .hd-wrap .toSign a {
        color: #e31436; }
        .hd-logoBox .hd-wrap .toSign a:hover {
          color: #ca5252; }

.m-login {
  width: 50rem;
  height: 41.75rem;
  background-color: #fff;
  border-radius: .25px;
  margin: 0 auto;
  box-shadow: 0 2px 2px 1px #ccc; }
  .m-login .login-tit {
    font-size: 1.2rem;
    color: #ca5252;
    font-weight: normal;
    margin: 0;
    padding: 2.2rem 0 0 3.5rem; }
  .m-login .login-content {
    margin-top: 2rem;
    height: 31rem; }
    .m-login .login-content form > div label {
      width: 34%;
      display: inline-block;
      text-align: right;
      font-size: .8rem;
      color: #333; }
    .m-login .login-content form div + div {
      margin-top: 1rem; }
    .m-login .login-content form .test-code > div {
      width: 16rem;
      height: 1.6rem;
      display: inline-block;
      vertical-align: middle;
      background-color: #f9f9f9;
      border-radius: .85rem;
      position: relative;
      overflow: hidden;
      border: 1px solid #ccc; }
      .m-login .login-content form .test-code > div > div {
        position: absolute;
        left: 1px; }
        .m-login .login-content form .test-code > div > div:hover {
          cursor: pointer; }
      .m-login .login-content form .test-code > div > span {
        position: absolute;
        right: 30%;
        color: #999;
        top: 50%;
        display: none;
        transform: translateY(-50%); }
    .m-login .login-content form .phone-help {
      margin-top: 3px; }
    .m-login .login-content form .user-count input {
      width: 320px;
      height: 2.2rem;
      margin-right: .5rem; }
    .m-login .login-content form .user-count select {
      height: 2.1rem;
      width: 5.3rem; }
    .m-login .login-content form .user-password input,
    .m-login .login-content form .user-confirm-pass input,
    .m-login .login-content form .user-phone input {
      width: 320px;
      height: 2.2rem; }
    .m-login .login-content form .switch-internation-num,
    .m-login .login-content form .phone-help,
    .m-login .login-content form .btn-login,
    .m-login .login-content form .login-info {
      margin-left: 34%; }
    .m-login .login-content form .msg-test-code input {
      width: 9.5rem;
      height: 2.2rem;
      margin-right: .4rem; }
    .m-login .login-content form .msg-test-code button {
      width: 6rem;
      height: 2.2rem;
      vertical-align: top; }
    .m-login .login-content form .btn-login button {
      width: 16rem;
      height: 2.2rem;
      font-size: 1rem; }

#btnGetMsgCode:hover {
  opacity: 1;
  cursor: pointer; }

button {
  border: none;
  color: #fff; }

input, button, select, option {
  outline: none;
  font-family: '微软雅黑'; }

select {
  border-color: #e2e2e2; }

input {
  padding: 0;
  border-width: 1px;
  border-color: #e2e2e2;
  border-style: solid;
  font-size: .8rem;
  padding-left: .3rem;
  box-sizing: border-box; }
  input:focus {
    border-color: #4cb5ff; }

.switch-internation-num a {
  color: #4cb5ff; }

.phone-help span {
  color: #999; }

.msg-test-code button {
  background-color: #a1d1f6;
  opacity: .6;
  font-size: .8rem; }

.btn-login button {
  background-color: #ca5252;
  opacity: .6; }

.login-info {
  color: #b1b1b1;
  width: 16rem; }
  .login-info a {
    color: currentColor; }
    .login-info a:hover {
      color: #666; }

.ft-aboutNe {
  width: 100%;
  height: 2rem;
  text-align: center;
  padding: 1.5rem 0; }
  .ft-aboutNe ul {
    display: flex;
    width: 37rem;
    margin: 0 auto .5rem;
    color: #b1b1b1; }
    .ft-aboutNe ul li {
      flex: 1;
      color: currentColor; }
      .ft-aboutNe ul li:hover {
        color: #ee8c18;
        cursor: pointer; }
  .ft-aboutNe span {
    color: #b1b1b1; }

/*# sourceMappingURL=register.css.mapmap */
.form-control{
  width: 70%;
}
#subButton{
  width: 100%;
}
#checkCode{
    font-family:Arial;
         font-style:italic;
         color:blue;
         font-size:30px;
         border:0;
         padding:2px 3px;
         letter-spacing:3px;
         font-weight:bolder;
         float:left;
         cursor:pointer;
         width:150px;
         height:50px;
         line-height:60px;
         text-align:center;
         vertical-align:middle;
         background-color:#D8B7E3;
}
  #oncode {
        text-decoration:none;
        font-size:12px;
        color:#288bc4;
        padding-left:10px;
    }

   #oncode:hover {
        text-decoration:underline;
        cursor:pointer;
    }