<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情页面</title>
</head>
<body>
<div id="orderdetail"style="width: 100%;height: 400px">
    <p>{{ order.identifier }}</p>
    <ul style="list-style: none">
        {% for ordergoods in order.ordergoods_set.all %}
            <li>
                <span>{{ ordergoods.goods.name}}</span>
            <i>X{{ ordergoods.number }}</i>
            </li>

        {% endfor %}
    </ul>
  <button style="width: 100px;height: 50px">支付</button>
</div>

</body>
</html>